# Report for d2g_light

## Metrics
- **time**: 0.93 seconds
- **simple_graph_comparison**: ❌

## Subreports
- **{}**
